.home-main-container {
    margin-top: 10vh;
    /*border: 3px solid crimson;*/
}

.home-main-container h1{
    color: mediumvioletred;
}

.home-main-container h2{
    font-style: italic;

    color: white;
}

.home-main-container p{
    color: white;
    font-size: large;
}

.home-child-containers {
    display: flex;
    justify-content: space-around;
}


.btn-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;;

}
