.branch-list {
    border: 2px solid yellow;
    margin: 0;
    padding: 0;
    width: 30vw;
    overflow: hidden;
    overflow-y: scroll;
}


.branch-list-item {
    list-style: none;
    border: 5px solid white;
    display: flex;
    background: #38A3A5;
    margin: 0;
    padding: 0;
}

.image-box {
    border: 2px solid white;
    width: 40%;
    height: 100%;

}

.image-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: auto;
}

.text-btn-box {
    border: 3px solid lightgreen;
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*contain: content;*/
    margin-left: 50px;
}

.btn-box{
    display: flex;
    padding-top: 10px;
    border: 1px solid black;
    width: 100%;
    justify-content: space-evenly;

}

.btn-branch button{
    background-color: mediumvioletred; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.2rem;
    font-weight: bold;
}
.add-branch{
    border: 2px solid white;
    display: flex;
    justify-content: right;
}

.add-branch button{
    background-color: #c71585; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin: 0.5rem;

}